html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  margin: 5px;
}

body {
  padding: 0;
  margin: auto;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background-image: url("assets/Fondo.png");
  background-position: 450px 25px;
  background-repeat: no-repeat;
  background-color: #000000;
  
}

a {
  color: #fff;
}

main {
  margin: 2rem 0;
  text-align: center;
}

#game {
  border: 1px solid #333;
}

footer {
  text-align: center;
}
